<html>

<!-- 
  ****************************************
  Contest Entry for Treehouse:
  "Design a Contact Form"
  Submitted by Lisa Wagner
  ****************************************
-->
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'ConfigForm.css') }}">
	<script type="text/javascript">
	function toggleText(button_id)  {
		   var text = document.getElementById(button_id).firstChild();
		   text.data = text.data == "Guardar" ? "Cambios guardados correctamente" : "Guardar";
		}
	</script>
</head>
<div id="contact-form">
	<div>
		<h1>Creacion de actividades</h1> 
		<h4>Rellene los campos con los que se crearan las actividades</h4> 
	</div>

		   <form method="post" action="/">
			<div>
		      <label for="activType">
		      	<span class="required">Tipo de actividad: *</span> 
		      	<select id="activType" name="activType" tabindex="4">   
			         <option value="Llamada">Llamada</option>
			         <option value="Visita Comercial">Visita Comercial</option>  
			         <option value="Visita Tecnica">Visita tecnica</option>
			      </select>
		      </label> 
			</div>
			<div>
		      <label for="activSubType">
		      	<span class="required">Subtipo de actividad: *</span>
		      	<select id="activSubType" name="activSubType" tabindex="4">   
			         <option value="TipoA">Tipo A</option>
			         <option value="TipoB">Tipo B</option>  
			      </select>
		      </label>  
			</div>
			<div>		          
		      <label for="serviceArea">
		      <span>Region de servicio: </span>
			      <select id="serviceArea" name="serviceArea" tabindex="4">   
			         <option value="Callcenter">Callcenter</option>
			         <option value="Tecnicos">Tecnicos</option>  
			         <option value="Comerciales">Comerciales</option>
			      </select>
		      </label>
			</div>
			<div id="buttonId">		           
		      <button name="submit" type="button" id="submit" onClick="toggleText(this.id)";>Guardar</button> 
			</div>
		   </form>

	</div>
	</html>